html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: black;
   color: white;
}

h1
{
  text-align: center;
}

.row
{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px;

}

.board
{
  height: 50vh;
  width: 100vw;
}

.col
{
  height: 100%;
}

.stats
{
  list-style: none;
}

footer
{
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.iconbox
{
  height: 100%;
  display: inline;
  position: relative;
}

.iconbox img
{
  display: block;
  border: 2px solid;
  border-radius: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.icons-left
{
  width: 25%;
  float: left;
  padding-right: 0px;
}



.weaponimage
{
  border-color: yellow !important;
}

.backpackimage
{
  border-color: green !important;
}

.restimage
{
  margin: none;
  border-color: red !important;
}

.herobox
{
  display: inline;
  position: relative;
}

.herobox img
{
  display: block;
  border: 20px solid;
  border-color: blue;
  border-radius: 50%;
  margin: 10px 0px;
}

.creaturebox
{
  display: inline;
  position: relative;
}

.creaturebox img
{
  display: block;
  border: 20px solid;
  border-color: red;
  border-radius: 50%;
  margin: 10px 0px;
}
