html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: black;
   color: white;
}

h1
{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  text-align: center;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2
{
  font-family: 'Permanent Marker', cursive;
}


.col
{
  height: 100%;
}

.row
{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px;

}

.board
{
  height: 250px;
  width: 100vw;
}

.stats
{
  list-style: none;
}

footer
{
  position: absolute;
  bottom: 0;
  background-color: #333;
  padding: 50px;
  font-size: 80%;
  width: 100%;
}

.iconbox
{
  height: 100%;
  display: inline;
  position: relative;
}

.iconbox img
{
  display: block;
  border: 2px solid;
  border-radius: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: 25px;*/
}

.icons-left
{
  width: 25%;
  float: left;
  padding-right: 0px;
}

.backpackimage
{
  border-color: green !important;

}

.restimage
{
  margin: none;
  border-color: red !important;
}

.herobox
{
  display: inline;
  position: relative;
  text-align: center;
}

.herobox img
{
  display: block;
  border: 20px solid;
  border-color: blue;
  border-radius: 50%;
  margin: 10px 0px;
}

.creaturebox
{
  display: inline;
  position: relative;
}

.creaturebox img
{
  display: block;
  border: 20px solid;
  float: right;
  border-color: red;
  border-radius: 50%;
  margin: 10px 0px;
}

.col
{
  margin: 0px;
}

form
{
  float: right;
  margin-top: 16px;
}
